version: '3.8'

services:
  database:
    ports:
      - "33306:3306"

  mailhog:
    ports:
      - "11025:1025"
      - "18025:8025"

  php-fpm:
    volumes:
      - '~/.composer:/home/docker/.composer'

  nginx:
    ports:
      - "8080:80"
      - "4443:443"