<h2>Ciao {{ user.firstName }}</h2>
<h3>Hai richiesto di resettare la tua password</h3>

<p>
    Per resettare la tua password clicca sul seguente link:<br>
    <a href="{{ passwordResetUrl }}">{{ passwordResetUrl }}</a>
</p>

<p>
    Se non sei stato tu, non esitare a contattarci.
</p>